﻿@using WebProgramlamaMatematikciyiz.App_GlobalResources;
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap tutorial for begineers</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="CustomStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="imageCarousel" class="carousel slide" data-wrap="true" data-pause="false" data-interval="3500"
                     data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#imageCarousel" data-slide-to="1"></li>
                        <li data-target="#imageCarousel" data-slide-to="2"></li>
                        <li data-target="#imageCarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/img/Matematik1.jpg" class="img">
                            <div class="carousel-caption">
                                @*<h3>Matematik</h3>
                                    <p>Matematiği İnternetten Öğrenin</p>*@
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/Matematik2.png" class="img">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/Matematik3.jpg" class="img">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/img/Matematik4.jpg" class="img">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style type="text/css">
        .kolon {
            float: left;
            border: 1px solid red;
            padding: 10px;
            margin: 10px;
        }
    </style>
    <div class="kolon">
        <iframe width="525" height="315" src="https://www.youtube.com/embed/drDcM9k8eG4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <center>
            <form action="~/Account/Register">
                <input type="submit" value="KAYIT OL" />
            </form>
        </center>
    </div>
    <div class="kolon">
        <iframe width="525" height="315" src="https://www.youtube.com/embed/bY5W2nfVAwA" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <center>
            <form action="~/Account/Login">
                <input type="submit" value="GİRİŞ YAP" />
            </form>
        </center>
    </div>
</body>
</html>