﻿@model WebProgramlamaMatematikciyiz.Models.Dersler

@{
    ViewBag.Title = "Delete";
}

<h2>Ders Sil</h2>

<h3>Ders Silmek İstediğinizden Emin Misiniz?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ders Adı:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DersAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp    <input type="submit" value="Dersi Sil" class="btn btn-default" /> <p><p><p>
            @Html.ActionLink("Derslerin Tümünü Görmek İçin Tıklayınız", "Index")
    </div>
    }
</div>
