﻿@model WebProgramlamaMatematikciyiz.Models.Dersler

@{
    ViewBag.Title = "Details";
}

<h2>Derslerin Detayları</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ders Adı:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DersAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenlenmek İçin Tıklayınız", "Edit", new { id = Model.DersID })
    &nbsp&nbsp&nbsp|||&nbsp&nbsp
    @Html.ActionLink("Derslerin Tümünü Görmek İçin Tıklayınız", "Index")
</p>
