﻿@model IEnumerable<WebProgramlamaMatematikciyiz.Models.Dersler>

@{
    ViewBag.Title = "Dersler";
}

<h2></h2>

<p>
    @Html.ActionLink("Yeni Ders Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ders İsimleri
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DersAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.DersID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.DersID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.DersID })
        </td>
    </tr>
}

</table>
