﻿@model WebProgramlamaMatematikciyiz.Models.KonuVideo

@{
    ViewBag.Title = "Delete";
}

<h2>Konu Anlatım Videosunu Sil</h2>

<h3>Konu Anlatım Videosunu Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Konu Adı:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konulars.KonuAdi)
        </dd>

        <dt>
            Video Linki
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Video Sil" class="btn btn-default" /> |
            @Html.ActionLink("Tüm Konu Anlatım Videoları İçin Tıklayınız", "Index")
        </div>
    }
</div>
