﻿@model WebProgramlamaMatematikciyiz.Models.KonuVideo

@{
    ViewBag.Title = "Details";
}

<h2>Video Detayları</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>    Konu Adı</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konulars.KonuAdi)
        </dd>

        <dt>
            <b> Video Linki</b>
        </dt>

        <dd>
            @Html.Raw(ViewBag.Link)
        </dd>

    </dl>
    
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.KonuVideoID }) |
    @Html.ActionLink("Tüm Konu Anlatım Videoları İçin Tıklayınız", "Index")
</p>
