﻿@model IEnumerable<WebProgramlamaMatematikciyiz.Models.KonuVideo>
@{
    ViewBag.Title = "Index";
}

<h2>Konu Anlatım Videoları</h2>

<p>
    @Html.ActionLink("Yeni Konu Anlatım Videosu Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Konu Adı
        </th>
        <th>
            Konu Video
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Konulars.KonuAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KonuVideoID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.KonuVideoID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KonuVideoID })
        </td>
    </tr>
}

</table>
