﻿@using WebProgramlamaMatematikciyiz.App_GlobalResources;
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Matematikciyiz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Matematikciyiz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(turkce_language.Anasayfa, "Index", "Home")</li>
                    <li>@Html.ActionLink(turkce_language.Konuanlatimvideoları ,"Index", "KonuVideos")</li>
                    <li>@Html.ActionLink(turkce_language.Dersler, "Index", "Derslers")</li>
                    <li>@Html.ActionLink(turkce_language.Hakkımızda, "About", "Home")</li>
                    <li>@Html.ActionLink(turkce_language.İletişim, "Contact", "Home")</li>

                    <li>@Html.ActionLink(turkce_language.Türkçe, "ChangeLanguage", "Home", new { lang = "Tr" }, null)</li>
                    <li>@Html.ActionLink(turkce_language.İngilizce, "ChangeLanguage", "Home", new { lang = "En" },null )</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Matematikciyiz.com</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
