﻿@model WebProgramlamaMatematikciyiz.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Kaydol";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.LoginProvider hesabınızı ilişkilendirin.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>İlişkilendirme Formu</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        ile kimlik doğrulaması yaptınız <strong>@ViewBag.LoginProvider</strong>.
        Oturum açma işlemini tamamlamak için bir kullanıcı adı girin ve Kaydol
        düğmesine tıklayın.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Kaydol" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
