﻿@model WebProgramlamaMatematikciyiz.Models.Konuanlatim

@{
    ViewBag.Title = "Delete";
}

<h2>Konu Sil</h2>

<h3>Konu Silmek İstediğinizden Emin Misiniz?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
           Ders Adı:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dersler.DersAdi)
        </dd>*@

        <dt>
           Konu Adı:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KonuAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Konu Sil" class="btn btn-default" /><p><p><p><p>
            @Html.ActionLink("Tüm Konuları Görmek İçin Tıklayınız", "Index")
        </div>
    }
</div>
