﻿@model  WebProgramlamaMatematikciyiz.Models.Konuanlatim
@*forumlarda yukarıdaki model i  KonuAnlatims yap yazıyordu Yaptım Ancak Modelde Dersadi hata verdi.*@
@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ders Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dersler.DersAdi)
        </dd>

        <dt>
            Konu Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KonuAdi)
        </dd>
        <dt>
            Video
        </dt>
        <dd>
            @Html.Raw(ViewBag.Link)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                Konu Anlatim
            </th>
            <th>
                Konu Anlatim Adi
            </th>
        </tr>
        @foreach (var item in Model.Konuvideos)
        {
            <tr>
                <td>
                    @Html.Raw(ViewBag.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Konulars)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.KonuID }) |
    @Html.ActionLink("Tüm Konuları Görmek İçin Tıklayınız", "Index")
</p>
