﻿@model WebProgramlamaMatematikciyiz.Models.Konuanlatim

@{
    ViewBag.Title = "Edit";
}

<h2>Konuyu Düzenle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.KonuID)

        <div class="form-group">
            @Html.LabelFor(model => model.KonuAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KonuAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KonuAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DersID, "Ders Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DersID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DersID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Konuyu Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tüm Konuları Görmek İçin Tıklayınız", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
