﻿@model IEnumerable<WebProgramlamaMatematikciyiz.Models.Konuanlatim>

@{
    ViewBag.Title = "Index";
}

<h2>Konu Anlatım</h2>

<p>
    @Html.ActionLink("Yeni Konu Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ders Adı:
        </th>
        <th>
            Konu Adı:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dersler.DersAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KonuAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KonuID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.KonuID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KonuID })
        </td>
    </tr>
}

</table>
